---
import logo1 from "../assets/images/clients/pin.webp";
import logo2 from "../assets/images/clients/bbt.png";
import logo3 from "../assets/images/clients/pertamina.webp";
import logo4 from "../assets/images/clients/elnusa.png";
import logo5 from "../assets/images/clients/akr.png";
import logo6 from "../assets/images/clients/humpussa.png";
import logo7 from "../assets/images/clients/humpussh.webp";
const clients = [
  {
    src: logo1.src,
    alt: "PT Pupuk Indonesia Niaga",
  },
  {
    src: logo2.src,
    alt: "PT Baria Bulk Terminal",
  },
  {
    src: logo3.src,
    alt: "PT Pertamina Patra Niaga",
  },
  {
    src: logo4.src,
    alt: "PT Elnusa Tbk",
  },
  {
    src: logo5.src,
    alt: "PT AKR Corporindo Tbk",
  },
  {
    src: logo6.src,
    alt: "PT Humpuss Aromatik",
  },
  {
    src: logo7.src,
    alt: "PT Humpuss",
  },
];
---

<section class="bg-white py-16 md:py-20 overflow-hidden">
  <div class="px-[16px] md:px-[64px] lg:px-[80px]">
    <h2
      class="text-center text-2xl md:text-3xl lg:text-4xl font-bold text-[#0F172A] leading-tights mb-12"
    >
      Trusted by Industry Leaders
    </h2>

    <div class="marquee">
      <div class="marquee-track">
        <!-- set 1 -->
        {
          clients.map((client) => (
            <img src={client.src} alt={client.alt} title={client.alt} />
          ))
        }

        <!-- duplicate set -->
        {
          clients.map((client) => (
            <img src={client.src} alt={client.alt} title={client.alt} />
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .marquee {
    overflow: hidden;
    position: relative;
  }

  .marquee-track {
    display: flex;
    gap: 80px;
    width: max-content;
    animation: scroll 30s linear infinite;
  }

  .marquee-track img {
    height: 45px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>
