---
import { Image } from "astro:assets";
import serviceBg from "../assets/images/service_bg.png"
import hsd from "../assets/images/hsd.png"
import sts from "../assets/images/sts.png"
import mfo from "../assets/images/mfo.png"
import fsu from "../assets/images/fsu.png"
const services = [
  {
    image: hsd.src,
    title: "High Speed Diesel (HSD) Trading",
    desc: "Reliable HSD supply supporting industrial, mining, transportation, and marine operations across Indonesia.",
    alt:"High Speed Diesel distribution truck Indonesia"
  },
  {
    image: mfo.src,
    title: "Marine Fuel Oil (MFO) Supply",
    desc: "Provision of Biosolar B40, LSFO 180/380, and HSFO 180/380 for domestic and international shipping operations.",
    alt:"Marine Fuel Oil storage and delivery in Indonesia"
  },
  {
    image: sts.src,
    title: "Bunker Services & Ship-to-Ship (STS)",
    desc: "Professional bunker and ship-to-ship transfer services ensuring safe, compliant, and efficient offshore fuel delivery.",
    alt:"Bunker and Ship-to-Ship transfer services in Indonesia"
  },
  {
    image: fsu.src,
    title: "Floating Storage Unit (FSU)",
    desc: "Strategic floating storage infrastructure in NTT enabling responsive marine fuel distribution in high-demand routes.",
    alt:"Floating Storage Unit for marine fuel distribution in Indonesia"
  },
];
---

<section class="relative py-16 md:py-20 text-white overflow-hidden">

  <!-- Background -->
  <Image
    src={serviceBg}
    alt="Tokutei Ginou"
    class="absolute inset-0 w-full h-full object-cover"
    quality={60}
    format="webp"
    loading="eager"
    fetchpriority="high"
  />
    <div class="absolute inset-0 bg-black/40"></div>

  <div class="relative px-[16px] md:px-[64px] lg:px-[80px]">

    <!-- Title -->
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-white text-center leading-tights mb-20">
      Our Services
    </h2>

    <!-- Grid -->
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">

      {services.map((service) => (
        <a href="/services" class="group relative overflow-hidden rounded-xl">

          <img
            src={service.image}
            alt={service.alt}
            class="w-full h-[420px] object-cover transition-transform duration-700 group-hover:scale-110"
          />

          <!-- Overlay -->
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/10 to-transparent"></div>

          <!-- Text -->
          <div class="absolute bottom-0 p-6">
            <h3 class="text-xl font-semibold mb-2">
              {service.title}
            </h3>
            <p class="text-sm text-white/80">
              {service.desc}
            </p>
          </div>

        </a>
      ))}

    </div>

  </div>

</section>
