---
import { Image } from "astro:assets";
import serviceBg from "../assets/images/service_bg.png"
import hsd from "../assets/images/hsd.png"
import sts from "../assets/images/sts.png"
import mfo from "../assets/images/mfo.png"
import fsu from "../assets/images/fsu.png"
const services = [
  {
    image: hsd.src,
    title: "High Speed Diesel (HSD) Trading",
    desc: "Reliable supply of High Speed Diesel to support industrial, mining, transportation, and marine operations across Indonesia.",
  },
  {
    image: mfo.src,
    title: "Marine Fuel Oil (MFO) Supply",
    desc: "Provision of Marine Fuel Oil for domestic and international shipping, offshore vessels, and fishing fleets operating within Indonesian waters.",
  },
  {
    image: sts.src,
    title: "Bunker Services & Ship-to-Ship (STS)",
    desc: "Comprehensive bunker and ship-to-ship transfer services ensuring efficient offshore fuel delivery with strict compliance and operational safety.",
  },
  {
    image: fsu.src,
    title: "Floating Storage Unit (FSU)",
    desc: "Strategic Floating Storage Unit in NTT enabling efficient fuel supply to eastern Indonesian maritime corridors.",
  },
];
---

<section class="relative py-[100px] text-white overflow-hidden">

  <!-- Background -->
  <Image
    src={serviceBg}
    alt="Tokutei Ginou"
    class="absolute inset-0 w-full h-full object-cover"
    quality={60}
    format="webp"
    loading="eager"
    fetchpriority="high"
  />
    <div class="absolute inset-0 bg-black/40"></div>

  <div class="relative px-[16px] md:px-[64px] lg:px-[80px]">

    <!-- Title -->
    <h2 class="text-center text-4xl md:text-5xl font-semibold mb-20">
      Our Services
    </h2>

    <!-- Grid -->
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">

      {services.map((service) => (
        <div class="group relative overflow-hidden rounded-xl">

          <img
            src={service.image}
            alt={service.title}
            class="w-full h-[420px] object-cover transition-transform duration-700 group-hover:scale-110"
          />

          <!-- Overlay -->
          <div class="absolute inset-0 bg-gradient-to-t from-black/60 via-black/10 to-transparent"></div>

          <!-- Text -->
          <div class="absolute bottom-0 p-6">
            <h3 class="text-xl font-semibold mb-2">
              {service.title}
            </h3>
            <p class="text-sm text-white/80">
              {service.desc}
            </p>
          </div>

        </div>
      ))}

    </div>

  </div>

</section>
